// Specific CSS for your home-page
body {
  background-color: rgb(28, 28, 38)
}

.banner {
  background-size: contain ;
  background-position: center;
  padding: 185px 0;
}

.banner h1 {
  margin: 0;
<<<<<<< HEAD
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 60px;
=======
  color: rgb(255, 255, 255);
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 65px;
>>>>>>> 72a2b40c263cd7c3dcacc42e241eee50cca6ff8f
  font-weight: bold;
}

.banner p {
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 35;
  font-weight: bold;
}

<<<<<<< HEAD
.card {
  background-color: #e6e0cf ;
  border-radius: 3px;
  box-shadow: 0 0 5px rgb(15, 7, 75);
  text-align: center;
  padding: 20px;
  border: 1px solid rgb(165, 158, 158);
}

h2.text-center.my-3 {
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(249, 249, 250);
}

a.btn.btn-danger {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
=======
a.btn.btn-danger {
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 15px;
  font-weight:300;
}

h2.text-center.my-3 {
  color: rgb(255, 255, 255);
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 25px;
>>>>>>> 72a2b40c263cd7c3dcacc42e241eee50cca6ff8f
  font-weight: bold;
}
