// Specific CSS for your home-page
body {
  background-color: rgb(255, 255, 255)
}

.banner {
  background-size: contain ;
  background-position: center;
  padding: 185px 0;
}

.banner h1 {
  margin: 0;
  color: rgb(255, 255, 255);
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 110px;
  font-weight: bold;
}

.banner p {
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 45px;
  font-family: "Nunito", "Helvetica", "sans-serif";
  font-weight: bold;
}

.btn.btn {
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 20px;
  font-weight:300;
  padding:12px;
  border-radius:5px;
}

h2.text-center.my-3 {
  color: rgb(200, 8, 8);
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 25px;
  font-weight: bold;
}
