<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://blog.ipleaders.in/wp-content/uploads/2021/08/Murder.jpg);">
  <div class="container text-center">
    <h1 class="text-center"><strong>Human Eraser</h1>
    <p>Get rid of your problems</p>
    <p><%= link_to "Choose a killer", killers_path, class: "btn btn-danger" %></p>
  </div>
</div>
<div class="container text-center">
  <h2 class="text-center my-3">Choose the crime</h2>
  <div class="cards d-flex align-items-center">
    <%# <div class="col-sm-4 mb-4 mb-sm-4"> %>
      <div class="card">
        <img src="https://media.gettyimages.com/id/pha184000048/pt/foto/hand-holding-knife-close-up-b-w.jpg?s=612x612&w=0&k=20&c=5IhR1AZgNibuQTx3yljsba712Z4Kg6P0OwI_QzZAxtU=">stabbing</div>
      <div class="card">
        <img src="https://media.gettyimages.com/id/1437008621/pt/foto/ready-aim-and-fire.jpg?s=612x612&w=0&k=20&c=1qClyKyUpap6JwSYW50TGRTnN2crkAAFEgO7FWGWIdg=">shooting</div>
      <div class="card">
        <img src="https://media.gettyimages.com/id/95011729/pt/foto/bottles-with-toxic-labels.jpg?s=612x612&w=0&k=20&c=njZZBxUyQ3hSpKIWU4VxIrEsGa3nvYijhZMLBBqblY8=">poisoning</div>
    </div>
  </div>
</div>
