<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://blog.ipleaders.in/wp-content/uploads/2021/08/Murder.jpg);">
  <div class="container text-center">
    <h1 class="text-center"><strong>Human Eraser</h1>
    <p>Get rid of your problems</p>
    <ul class="d-block p-2">
      <li class="d-inline p-2"><%= link_to "Choose an eraser", killers_path, class: "btn btn-danger" %></li>
      <li class="d-inline p-2"><%= link_to 'Create an eraser', new_killer_path, class: "btn btn-success" %></li>
    </ul>
  </div>
</div>
<div class="container text-center">
  <h2 class="text-center my-3">Sometimes dead is better</h2>
  <div class="row">
    <div class="col-sm-4 mb-4 mb-sm-4">
      <div class="card h-100">
        <img style="height:100%" src="https://media.gettyimages.com/id/pha184000048/pt/foto/hand-holding-knife-close-up-b-w.jpg?s=612x612&w=0&k=20&c=5IhR1AZgNibuQTx3yljsba712Z4Kg6P0OwI_QzZAxtU=">
      </div>
    </div>
    <div class="col-sm-4 mb-4 mb-sm-4">
      <div class="card h-100">
        <img style="height:100%" src="https://media.gettyimages.com/id/1437008621/pt/foto/ready-aim-and-fire.jpg?s=612x612&w=0&k=20&c=1qClyKyUpap6JwSYW50TGRTnN2crkAAFEgO7FWGWIdg=">
      </div>
    </div>
    <div class="col-sm-4 mb-4 mb-sm-4">
      <div class="card h-100">
        <img style="height:100%" src="https://media.gettyimages.com/id/504662110/pt/foto/blue-computer-hacker.jpg?s=612x612&w=0&k=20&c=-gYgIRibvyrH-3ik73QmwVUdv_uV44HaP3SUNt3Se1I=">
      </div>
    </div>
    </div>
  </div>
</div>
