<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://www.shutterstock.com/image-vector/cartoon-stick-figure-drawing-conceptual-260nw-1342059179.jpg);">
  <div class="container">
    <h1 class="text-center"><strong>Human Eraser</h1>
    <p class="text-center">Get rid of your problems</p>
    <p class ="text-center"><%= link_to "Choose a killer", killers_path, class: "btn btn-danger" %></p>
  </div>
</div>
<div class="container">
<h2 class="text-center my-3">Choose the crime</h2>
<div class="cards d-flex p-3 m-">
<div class="card">
<p>stabbing</p></div>
<div class="card">
<p>asphyxiate</p></div>
<div class="card">
<p>poisoning</p></div>
</div>
