.navbar-lewagon {
  justify-content: space-between;
<<<<<<< HEAD
  background: #e6e0cf;
=======
  background: rgb(245, 234, 221);
>>>>>>> 72a2b40c263cd7c3dcacc42e241eee50cca6ff8f
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
<<<<<<< HEAD
  width: 60px;
=======
  width: 40px;
>>>>>>> 72a2b40c263cd7c3dcacc42e241eee50cca6ff8f
  border-radius: 50%;
}

