<div class="container text-centered">
  <h1>Create a new eraser</h1>
  <div class="row">
    <div class="col-sm-6">
      <%= render "form", killer: @killer %>

      <br>

      <div>
        <%= link_to "Back to killers", killers_path %>
      </div>
    </div>
  </div>
</div>
